<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liepin.talent.mapper.TalentMapper">
    <select id="getTalentList" resultType="com.liepin.talent.entity.vo.resp.GetTalentListVO">
        select
            talent_info.id,
            talent_info.name,
            talent_info.type,
            talent_info.agency_id as agencyId,
            (select agency.enterprise_name from agency
             where agency.id = agencyId) as agencyName,
            talent_info.phone,
            talent_info.sex,
            talent_info.certificate_type_1,
            talent_info.certificate_major_1,
            talent_info.hire_type
        from talent_info
        inner join
            (select id from talent_info
             where dlt = 'NO'
                and is_private = 'NO'
             <if test="req.name != null and req.name != ''">
                 and name = #{req.name}
             </if>
             <if test="req.phone != null and req.phone != ''">
                 and phone = #{req.phone}
             </if>
             <if test="req.sex != null and req.sex != ''">
                 and sex = #{req.sex}
             </if>
             <if test="req.type != null and req.type != ''">
                 and type = #{req.type}
             </if>
             <if test="req.certificateType != null and req.certificateType != ''">
                 and (certificate_type_1 = #{req.certificateType} or certificate_type_2 = #{req.certificateType} or certificate_type_3 = #{req.certificateType})
             </if>
             <if test="req.certificateMajor != null and req.certificateMajor != ''">
                 and (certificate_major_1 = #{req.certificateMajor} or certificate_major_2 = #{req.certificateMajor} or certificate_major_3 = #{req.certificateMajor})
             </if>
             order by id desc ) as temp
        on temp.id = talent_info.id
        <bind name="offset" value="(req.page-1)*req.pageSize"/>
        limit #{offset},#{req.pageSize}
    </select>

    <select id="getTalentListNum" resultType="java.lang.Long">
        select count(talent_info.id) from talent_info
        where dlt = 'NO'
        and is_private = 'NO'
        <if test="req.name != null and req.name != ''">
            and name = #{req.name}
        </if>
        <if test="req.phone != null and req.phone != ''">
            and phone = #{req.phone}
        </if>
        <if test="req.sex != null and req.sex != ''">
            and sex = #{req.sex}
        </if>
        <if test="req.type != null and req.type != ''">
            and type = #{req.type}
        </if>
        <if test="req.certificateType != null and req.certificateType != ''">
            and (certificate_type_1 = #{req.certificateType} or certificate_type_2 = #{req.certificateType} or certificate_type_3 = #{req.certificateType})
        </if>
        <if test="req.certificateMajor != null and req.certificateMajor != ''">
            and (certificate_major_1 = #{req.certificateMajor} or certificate_major_2 = #{req.certificateMajor} or certificate_major_3 = #{req.certificateMajor})
        </if>
        order by id desc
    </select>

    <insert id="importTalent" parameterType="java.lang.String">
        load data local infile '${fileName}'
            into table talent_info
            fields terminated by ','
            lines terminated by '\n'
            (name,phone,sex,create_time,certificate_type_1,certificate_major_1,certificate_type_2,certificate_major_2,certificate_type_3,certificate_major_3);
    </insert>

    <select id="getFollowupHistory" resultType="com.liepin.talent.entity.vo.resp.FollowupHistory">
        select
        talent_private_followup.id,
        user.id as followup_id,
        user.username as followUp,
        talent_private_followup.time,
        talent_private_followup.next_time,
        talent_private_followup.remark
        from talent_private_followup
        left join talent_private
        on talent_private.id = talent_private_followup.private_id
        left join talent_info
        on talent_info.id = talent_private.info_id
        left join user
        on user.id = talent_private_followup.followup_id
        where talent_info.dlt = 'NO'
        and talent_info.id = #{id}
        order by id desc
        <if test="page != null and pageSize != null ">
            <bind name="offset" value="(page-1)*pageSize"/>
            limit #{offset},#{pageSize}
        </if>
    </select>

</mapper>