<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liepin.auth.mapper.LoginMapper">

    <select id="getUserByUsername" resultType="com.liepin.auth.entity.dto.LoginUser">
        select user.*, role.role_code,role.role_name from liepin.user
        left join liepin.role on role.id = user.role_id
        where user.dlt = 'NO'
        and binary user.username = #{username}
    </select>

    <select id="getUserRole" resultType="com.liepin.auth.entity.base.Role">
        select * from liepin.role
        left join liepin.user on user.role_id = role.id
        where user.id = #{userId}
    </select>

    <select id="commitWorkLog" resultType="java.lang.Boolean">
        select count(work_log.id) from work_log
        where dlt = 'NO'
        and if(weekday(date(now())) &lt; 5,
        if(weekday(date(now())) = 0,date(create_time) = date(date_sub(now(),interval 3 day)),date(create_time) = date(date_sub(now(),interval 1 day))),
        1 = 1)
        and user_id = #{userId}
    </select>
</mapper>