<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liepin.worklog_agency.mapper.AgencyMapper">


    <select id="getUsername" resultType="java.lang.String">
        select username
        from liepin.user
        where id = #{id}
    </select>
    <select id="getAgencyNum" resultType="java.lang.Long">
        select count(*)
        from liepin.agency
        where liepin.agency.audit_status like concat('%',#{req.auditStatus},'%')
          and liepin.agency.dlt = 'NO'
        <if test="req.enterpriseName != null and req.enterpriseName != ''">
            and liepin.agency.enterprise_name like concat('%',#{req.enterprise_name},'%')
        </if>
        <if test="req.province != null and req.province != ''">
            and liepin.agency.province = #{req.province}
        </if>
        <if test="req.city != null and req.city != ''">
            and liepin.agency.city = #{req.city}
        </if>
    </select>
    <select id="getAgenctList" resultType="com.liepin.worklog_agency.entity.base.Agency">
        select id,enterprise_name,person,province,city,detail_addr,
               (select name from liepin.user
                            where liepin.user.id = liepin.agency.create_id) as create_id,
        tel,audit_status,create_time,remark
        from liepin.agency
        where liepin.agency.audit_status like concat('%',#{req.auditStatus},'%')
          and liepin.agency.dlt = 'NO'
        <if test="req.enterpriseName != null and req.enterpriseName != ''">
            and liepin.agency.enterprise_name like concat('%',#{req.enterpriseName},'%')
        </if>
        <if test="req.province != null and req.province != ''">
            and liepin.agency.province = #{req.province}
        </if>
        <if test="req.city != null and req.city != ''">
            and liepin.agency.city = #{req.city}
        </if>
        order by liepin.agency.id asc
        <if test="req.page != null and req.pageSize != null and req.page != '' and req.pageSize != ''">
            <bind name="offset" value="(req.page-1)*req.pageSize"/>
            limit #{offset},#{req.pageSize}
        </if>
    </select>
    <select id="getSelfAgenctList" resultType="com.liepin.worklog_agency.entity.base.Agency">
        select id,enterprise_name,person,province,city,detail_addr,
        (select name from liepin.user
        where liepin.user.id = liepin.agency.create_id) as create_id,
        tel,audit_status,create_time,remark
        from liepin.agency
        where liepin.agency.audit_status like concat('%',#{req.auditStatus},'%')
        <if test="req.enterpriseName != null and req.enterpriseName != ''">
            and liepin.agency.creat_id = #{req.enterpriseName}
        </if>

    </select>
</mapper>