<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liepin.worklog_agency.mapper.LogBriefMapper">

<!--    <select id="getAllBriefLog" resultType="com.liepin.worklog_agency.entity.response.WorkLogBriefRes">-->
<!--        select distinct liepin.work_log.id as log_id,username,name,liepin.user.id,liepin.role.role_code as role,-->
<!--        liepin.work_log.update_time as create_time,liepin.work_log_detail.phone_num,liepin.work_log_detail.wechat_num,-->
<!--        liepin.work_log_detail.intentional_customer,-->
<!--        (t.cnt) as unfinishedProblemNum-->
<!--        from liepin.work_log left join liepin.work_log_problem on liepin.work_log.id =liepin.work_log_problem.id-->
<!--        join liepin.user on work_log.user_id = liepin.user.id join liepin.work_log_detail on work_log.id = work_log_detail.id-->
<!--        join liepin.role on user.role_id = role.id-->
<!--        join (select work_log_problem.id, count(work_log_problem.id) as cnt from liepin.work_log_problem,liepin.work_log,liepin.user-->
<!--        where liepin.work_log_problem.dlt = 'NO'-->
<!--        <if test="req.solved != null and req.solved != ''">-->
<!--            and liepin.work_log_problem.solved = #{req.solved}-->
<!--        </if>-->
<!--        and liepin.work_log_problem.id = liepin.work_log.id-->
<!--        and liepin.work_log.id = liepin.work_log_problem.id-->
<!--        and liepin.work_log.user_id = liepin.user.id-->
<!--        group by work_log_problem.id) as t on work_log.id = t.id-->

<!--        where liepin.user.dlt='NO'-->
<!--        <if test="req.id != null and req.id != ''">-->
<!--            and liepin.user.id = #{req.id}-->
<!--        </if>-->
<!--        <if test="req.name != null and req.name != ''">-->
<!--            and liepin.user.name = like concat('%',#{req.name},'%')-->
<!--        </if>-->
<!--        <if test="req.username != null and req.username != ''">-->
<!--            and liepin.user.username like concat('%',#{req.username},'%')-->
<!--        </if>-->
<!--        <if test="req.role != null and req.role != ''">-->
<!--            and liepin.user.role_id = #{req.role}-->
<!--        </if>-->
<!--        <if test="req.solved != null and req.solved != ''">-->
<!--            and liepin.work_log_problem.solved = #{req.solved}-->
<!--        </if>-->
<!--        order by liepin.work_log.update_time desc-->
<!--        <if test="req.page != null and req.pageSize != null and req.page != '' and req.pageSize != ''">-->
<!--            <bind name="offset" value="(req.page-1)*req.pageSize"/>-->
<!--            limit #{offset},#{req.pageSize}-->
<!--        </if>-->

<!--    </select>-->
<!--    <select id="getAllBriefLogNum" resultType="java.lang.Long">-->
<!--        select COUNT(distinct liepin.work_log_problem.id)-->
<!--        from liepin.work_log left join liepin.work_log_problem on liepin.work_log.id =liepin.work_log_problem.id-->
<!--        join liepin.user on work_log.user_id = liepin.user.id-->
<!--        join liepin.role on user.role_id = role.id-->
<!--        where liepin.user.dlt='NO'-->
<!--          and liepin.work_log.dlt = 'NO'-->
<!--        <if test="req.id != null and req.id != ''">-->
<!--            and liepin.user.id = #{req.id}-->
<!--        </if>-->
<!--        <if test="req.username != null and req.username != ''">-->
<!--            and liepin.user.username like concat('%',#{req.username},'%')-->
<!--        </if>-->
<!--        <if test="req.role != null and req.role != ''">-->
<!--            and liepin.user.role_id = #{req.role}-->
<!--        </if>-->
<!--        <if test="req.solved != null and req.solved != ''">-->
<!--            and liepin.work_log_problem.solved = #{req.solved}-->
<!--        </if>-->
<!--        order by liepin.user.id asc-->
<!--        <if test="req.page != null and req.pageSize != null and req.page != '' and req.pageSize != ''">-->
<!--            <bind name="offset" value="(req.page-1)*req.pageSize"/>-->
<!--            limit #{offset},#{req.pageSize}-->
<!--        </if>-->
<!--    </select>-->

    <select id="getAllBriefLog" resultType="com.liepin.worklog_agency.entity.response.WorkLogBriefRes">
        select distinct
            work_log.id as logId,
            user.username,
            user.name,
            user.id,
            (select role_code from role where role.id = user.role_id) as role,
            work_log_detail.phone_num,
            work_log_detail.wechat_num,
            work_log_detail.intentional_customer,
            (select count(work_log_problem.detail_id)
             from work_log_problem
             where work_log_problem.dlt = 'NO'
                and work_log_problem.solved = 'NO'
                and work_log_problem.id = work_log.id) as unfinishedProblemNum,
            work_log.update_time
        from work_log_problem
        left join work_log_detail
            on work_log_problem.id = work_log_detail.id
        left join work_log
            on work_log_detail.id = work_log.id
        left join user
            on user.id = work_log.user_id
        left join role
            on role.id = user.role_id
        where work_log_problem.dlt = 'NO'
            and work_log.dlt = 'NO'
        <if test="req.name != null and req.name != ''">
            and user.name like concat('%',#{req.name},'%')
        </if>
        <if test="req.username != null and req.username != ''">
            and user.username like concat('%',#{req.username},'%')
        </if>
        <if test="req.role != 'ALL'">
            and role.role_code = #{req.role}
        </if>
        <choose>
            <when test="req.solved == 'NO'">
                and (select count(work_log_problem.detail_id)
                from work_log_problem
                where work_log_problem.dlt = 'NO'
                and work_log_problem.solved = 'NO'
                and work_log_problem.id = work_log.id) > 0
            </when>
            <when test="req.solved == 'YES'">
                and (select count(work_log_problem.detail_id)
                from work_log_problem
                where work_log_problem.dlt = 'NO'
                and work_log_problem.solved = 'NO'
                and work_log_problem.id = work_log.id) = 0
            </when>
        </choose>
        <if test="req.page != null">
            <bind name="offset" value="(req.page - 1) * req.pageSize"/>
            limit #{offset},#{req.pageSize}
        </if>
    </select>

    <select id="getAllBriefLogNum" resultType="java.lang.Long">
        select
            count(distinct work_log.id)
        from work_log_problem
        left join work_log_detail
            on work_log_problem.id = work_log_detail.id
        left join work_log
            on work_log_detail.id = work_log.id
        left join user
            on user.id = work_log.user_id
        left join role
            on role.id = user.role_id
        where work_log_problem.dlt = 'NO'
            and work_log.dlt = 'NO'
        <if test="req.name != null and req.name != ''">
            and user.name like concat('%',#{req.name},'%')
        </if>
        <if test="req.username != null and req.username != ''">
            and user.username like concat('%',#{req.username},'%')
        </if>
        <if test="req.role != 'ALL'">
            and role.role_code = #{req.role}
        </if>
        <choose>
            <when test="req.solved == 'NO'">
                and (select count(work_log_problem.detail_id)
                from work_log_problem
                where work_log_problem.dlt = 'NO'
                and work_log_problem.solved = 'NO'
                and work_log_problem.id = work_log.id) > 0
            </when>
            <when test="req.solved == 'YES'">
                and (select count(work_log_problem.detail_id)
                from work_log_problem
                where work_log_problem.dlt = 'NO'
                and work_log_problem.solved = 'NO'
                and work_log_problem.id = work_log.id) = 0
            </when>
        </choose>
    </select>
</mapper>