<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liepin.worklog_agency.mapper.LogMapper">



    <insert id="insertWorkLog" parameterType="com.liepin.worklog_agency.entity.base.WorkLog">
            insert into liepin.work_log
            values (#{workLog.id},#{workLog.userId},#{workLog.createTime},#{workLog.updateTime},default)
    </insert>

    <select id="getWorkLog" resultType="com.liepin.worklog_agency.entity.response.WorkLogRespVo">
            select *
            from liepin.work_log,liepin.work_log_detail
            where liepin.work_log.user_id = #{loginId}
            and liepin.work_log_detail.id = liepin.work_log.id
            and liepin.work_log.create_time like CONCAT(#{createTime},'%')
    </select>
    <select id="getWorkLogProblem" resultType="com.liepin.worklog_agency.entity.base.WorkLogProblem">
            select *
            from liepin.work_log,liepin.work_log_problem,liepin.work_log_detail
            where liepin.work_log.user_id = #{loginId} and liepin.work_log_problem.id = liepin.work_log.id
            and liepin.work_log_detail.id = liepin.work_log.id
            and liepin.work_log_problem.dlt = 'NO'
    </select>
    <select id="getWorkLogRes" resultType="com.liepin.worklog_agency.entity.response.WorkLogRes">
            select work_log_detail.id,work_log_detail.intentional_customer,work_log.user_id,work_log_detail.phone_num,
                   work_log_detail.wechat_num,work_log_detail.work_plan,work_log_detail.work_situation,work_log_detail.work_summary
            from work_log_detail , work_log
            where work_log_detail.id = work_log.id
            and   liepin.work_log.user_id = #{loginId}
            and work_log.create_time like CONCAT(#{dayTime},'%')
    </select>
    <select id="getWorkLogProblemList"
            resultType="com.liepin.worklog_agency.entity.response.WorkLogProblemRes">
            select work_log_problem.id,work_log_problem.problem_info,work_log_problem.solved,
                   work_log_problem.solution,work_log_problem.contact,work_log_problem.dlt
            from work_log_problem,work_log
            where work_log_problem.id = work_log.id
            and work_log.user_id = #{loginId}
            and work_log.create_time like CONCAT(#{dayTime},'%')
            and work_log_problem.dlt = 'NO'
    </select>
    <select id="getWorkLogProblemListById"
            resultType="com.liepin.worklog_agency.entity.response.WorkLogProblemRes">
            select work_log_problem.id,work_log_problem.problem_info,work_log_problem.solved,
               work_log_problem.solution,work_log_problem.contact,work_log_problem.dlt
            from work_log_problem,work_log
            where work_log_problem.id = work_log.id
            and work_log.id = #{logId}
            and work_log_problem.dlt = 'NO'
    </select>
    <select id="getWorkLogResByLogId" resultType="com.liepin.worklog_agency.entity.response.WorkLogRes">
            select work_log_detail.id,work_log_detail.intentional_customer,work_log.user_id,work_log_detail.phone_num,
               work_log_detail.wechat_num,work_log_detail.work_plan,work_log_detail.work_situation,work_log_detail.work_summary
            from work_log_detail , work_log
            where work_log_detail.id = work_log.id
            and   liepin.work_log.id = #{logId}

    </select>

</mapper>