<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liepin.enterprise.mapper.EnterpriseMapper">
    <select id="getEnterpriseOceanList" resultType="com.liepin.enterprise.entity.vo.resp.GetEnterpriseListVO">
        select
            temp.id as infoId,
            enterprise_info.id,
            enterprise_info.name,
            enterprise_info.province,
            enterprise_info.city,
            enterprise_info.county,
            enterprise_info.legal_representative,
            enterprise_info.create_time,
            enterprise_info.contact,
            enterprise_info.phone,
            enterprise_info.email,
            (select throwback_reason
             from liepin.enterprise_throwback_history
             where enterprise_throwback_history.info_id = infoId
             order by enterprise_throwback_history.create_time desc
             limit 1) as throwback_reason
        from enterprise_info
        inner join
             (select enterprise_info.id from enterprise_info
              where enterprise_info.dlt = 'NO'
                    and enterprise_info.is_private = 'NO'
                <if test="req.county != null and req.county != ''">
                    and enterprise_info.county = #{req.county}
                </if>
                <if test="req.city != null and req.city != ''">
                    and enterprise_info.city = #{req.city}
                </if>
                <if test="req.province != null and req.province != ''">
                    and enterprise_info.province = #{req.province}
                </if>
                <if test="req.phone != null and req.phone != ''">
                    and enterprise_info.phone like concat('%',#{req.phone},'%')
                </if>
                <if test="req.name != null and req.name != ''">
                    and enterprise_info.name like concat('%',#{req.name},'%')
                </if>
              order by enterprise_info.id desc) as temp
        on temp.id = enterprise_info.id
        <bind name="offset" value="(req.page-1)*req.pageSize"/>
        limit #{offset},#{req.pageSize}
    </select>

    <select id="getEnterpriseOceanNum" resultType="java.lang.Long">
        select count(enterprise_info.id) from enterprise_info
        where enterprise_info.dlt = 'NO'
        and enterprise_info.is_private = 'NO'
        <if test="req.county != null and req.county != ''">
            and enterprise_info.county = #{req.county}
        </if>
        <if test="req.city != null and req.city != ''">
            and enterprise_info.city = #{req.city}
        </if>
        <if test="req.province != null and req.province != ''">
            and enterprise_info.province = #{req.province}
        </if>
        <if test="req.phone != null and req.phone != ''">
            and enterprise_info.phone like concat('%',#{req.phone},'%')
        </if>
        <if test="req.name != null and req.name != ''">
            and enterprise_info.name like concat('%',#{req.name},'%')
        </if>
        order by enterprise_info.id
    </select>

    <insert id="importEnterprise" parameterType="java.lang.String">
        load data local infile '${fileName}'
        into table enterprise_info
        fields terminated by ','
        lines terminated by '\n'
        (name,contact,phone,email,address,legal_representative,create_time,province,city,county);
    </insert>

    <insert id="importEnterpriseOcean">
        insert into liepin.enterprise_ocean (create_time, info_id)
        select now(),id from enterprise_info;
    </insert>

    <select id="getFollowupHistory" resultType="com.liepin.enterprise.entity.vo.resp.FollowupHistory">
        select
            enterprise_private_followup.id,
            enterprise_private_followup.followup_id,
            user.username as followUp,
            enterprise_private_followup.time,
            enterprise_private_followup.next_time,
            enterprise_private_followup.remark
        from enterprise_private_followup
        left join enterprise_private
        on enterprise_private.id = enterprise_private_followup.private_id
        left join enterprise_info
        on enterprise_info.id = enterprise_private.info_id
        left join user
        on user.id = enterprise_private_followup.followup_id
        where enterprise_info.dlt = 'NO'
        and enterprise_info.id = #{id}
        order by id desc
        <if test="page != null and pageSize != null ">
            <bind name="offset" value="(page-1)*pageSize"/>
        limit #{offset},#{pageSize}
        </if>
    </select>
</mapper>